.chatbot-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.chatbot-modal .modal-content {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: var(--fifth-color);
    font-size: 16px;
    top:100px
}
.chat-window {
    flex: 1;
    overflow-y: auto;
    border-bottom: 1px solid #ddd;
    padding: 10px;
} 
.chat-messages {
    display: flex;
    flex-direction: column;
}
.message {
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
    max-width: 70%;
}
.user-message {
    align-self: flex-end;
    background-color: var(--sixth-color);
}
.bot-message {
    align-self: flex-start;
    background-color: var(--secondary-color);
}
.chat-input-form {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
}
.chat-input-group {
    display: flex;
    width: 100%;
}
.chat-input-group input {
    flex: 1;
    margin-right: 10px;
}