.about .video{
    width:calc(100% - 100px);
    height:500px;

    margin: auto;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 1rem;
}
.about .box{
    border: 1px solid #ddd;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 10px;
    margin-right:10px;
    padding: 0;
    background-color: var(--fifth-color) ;
}
.about .box .box-body{
    padding-inline: 10px;
    margin-top:20px;
}
.about .box .box-img img{
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}